.Logo {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

.Logo-Check {
    color: red;
    font-size: 2.5em;
    font-weight: bold;
}

.Logo-Flix {
    color: whitesmoke;
    font-size: 2.5em;
    font-weight: bold;
}

#logo-description {
    margin-top: -20px;
    color: whitesmoke;
    font-size: 20px;
    font-weight: bold;
}
textarea:focus, input:focus{
    outline: none;
}

button:focus {
    outline: none;
}

.SearchBar{
    border-radius: 18px;
    padding-left: 10px;
    padding-right: 10px;
    width: 500px;
    height: 70px;
    background-color: rgb(15, 15, 20);
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 30px;
    color: whitesmoke;
    text-align: center;
}
#searchInput::placeholder{
    color: lightgray;
}

#newAddedButton {
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    background: rgb(15, 15, 20);
    color: gold;
    border-color: gold;
    height: 50px;
    width: 300px;
    font-size: 25px;
    margin-top: 30px;
    border-radius: 10px;
    font-weight: bold;
}

.center {
    /* Add text-align property if needed to its own div*/
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.SearchRow{
    display: flex;
    font-size: 1em;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /*border: 3px solid green;*/
}

body {
    /* disables the black vertical line when clicking on text a.k.a the "caret" */
    -webkit-user-select: none;
    background: url("images/background.jpg");
    background-size: cover;
    background-color: darkgrey;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    background-attachment: fixed;
}

.cardShowcase {
    width: 80%;
    margin: -20px auto;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.card {
    overflow: hidden;
    display: grid;
    grid-template-columns: 180px;
    grid-template-rows: 220px 50px;
    grid-template-areas: "image" "stats";
    border-radius: 18px;
    background: black;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
    text-align: center;


    /* transitions */
    transition: 0.5s ease;
    cursor: pointer;
    margin:15px;
}

.card:hover {
    transform: scale(1.15);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
}

.card-stats {
    background: rgb(15, 15, 20);
    display: flex;
    align-items: center;
    justify-content: center;
    color: gold;
    font-size: 23px;
}
#newAddedButton:hover {
    background: rgb(25, 25, 35);
}

.card-allGenres {
    grid-area: image;
    background: url("images/all-genres1.jpg");
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
}

.card-action{
    grid-area: image;
    background: url("images/action.jpg");
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
}

.card-comedy {
    grid-area: image;
    background: url("images/comedy.png");
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
}

.card-adventure {
    grid-area: image;
    background: url("images/adventure.jpg");
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
}

.card-drama {
    grid-area: image;
    background: url("images/drama.jpg");
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
}

.card-crime {
    grid-area: image;
    background: url("images/crime.jpg");
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
}

.card-thriller {
    grid-area: image;
    background: url("images/thriller.jpg");
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
}

.card-horror {
    grid-area: image;
    background: url("images/horror.jpg");
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
}

.card-classics {
    grid-area: image;
    background: url("images/classics.jpg");
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
}
.card-family {
    grid-area: image;
    background: url("images/family.jpg");
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
}

.card-documentary {
    grid-area: image;
    background: url("images/documentary.jpg");
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
}
.card-international {
    grid-area: image;
    background: url("images/international.jpg");
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
}

#Genres {
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 50px;
    color: whitesmoke;
    text-align: center;
}

