ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: lightskyblue;
    width: 100%;
}
li {float: left;}
li a {
    display: block;
    color: black;
    text-align: center;
    font-family: "Century Gothic";
    font-size: 30px;
    padding: 14px 16px;
    border-right: solid 2px;
}
li a:hover {background-color: lightseagreen;}
li a:link {text-decoration: none;}
li a:visited {text-decoration: none;}

#search {
    position: relative;
    left: 250px;
    width: 400px;
    height: 35px;
    font-size: 30px;
    font-family: "Century Gothic";
    background-color: lightgrey;
    text-align: left;
    border-radius: 12px;
    padding: 14px 16px;
}

#leftGameContainer {
    width: 30%;
    height: auto;
    float: left;
    text-align: center;
    line-height: 8px;
    padding: 50px 0;
    display: block;
    justify-content: center;
    align-items: center;
}

#rightGameContainer {
    width: 30%;
    height: auto;
    float: right;
    text-align: center;
    line-height: 8px;
    padding: 50px 0;
    display: block;
    justify-content: center;
    align-items: center;
}
#leftIm {
    width: 200px; /* width of container */
    height: 300px; /* height of container */
    border-radius: 25px;
    object-fit: cover;
    padding: 10px;

}

#rightIm {
    width: 200px; /* width of container */
    height: 300px; /* height of container */
    border-radius: 25px;
    object-fit: cover;
    padding: 10px;

}

#containerBox{
    width: auto;
    height: 750px;
    border: 5px solid black;
    text-align: center;
    margin: auto;
    border-radius: 25px;
    background-color: lightgray;
}
.firstInfo {
    width: 50%;
    height: auto;
    border: 2px solid black;
    text-align: center;
    margin: auto;
    border-radius: 25px;
    background-color: lightgray;
}

.secondInfo {
    padding-top: 10px;
    width: 50%;
    height: auto;
    border: 2px solid black;
    text-align: center;
    margin: auto;
    border-radius: 25px;
    background-color: lightgray;
}

#compareBox {
    position: relative;
    top: 200px;
    margin: auto;
    width: 500px;
    height: 200px;
    border: 5px solid black;
    text-align: center;
    margin: auto;
    border-radius: 25px;
    background-color: lightgray;
}

